<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Yogitunes.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
				<key>dateExpires</key>
				<string>2024-04-23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Intercom.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>15.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyBeaver.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZIPFoundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_links.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_service.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_archive.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inapp_purchase.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>on_audio_query_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>uni_links.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>646D41D1F29F859098A54D44395745D60CE07DEB</string>
						<key>dateExpires</key>
						<string>2024-04-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RNBZ4S28N4</string>
						<key>name</key>
						<string>Yogi Tunes, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RNBZ4S28N4.net.mountainmandan.yogi-tunes</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>RNBZ4S28N4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>36d7a638-c9d2-44d3-9e96-e2b3b7f7e392</string>
				<key>dateExpires</key>
				<string>2024-04-23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: net.mountainmandan.yogi-tunes</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RNBZ4S28N4</string>
				<key>name</key>
				<string>Yogi Tunes, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
